@font-face {
    font-family:'Neue' ;
    src: url(assets/helvetica-neue-5/HelveticaNeueLight.otf) format('opentype');
}
@font-face {
    font-family:'turnpike' ;
    src: url(assets/turnpike/Turnpike.ttf) format('truetype');
}
:root{
    --corback:#ffffff;
    --corback-card:#eeeeee7e;
    --cortexto:#000000;
    --gradiente: linear-gradient(90deg ,#ff8000, #fd5236);
                                                                                                    --font-card-prod:'Arial';         
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Neue', Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
img{
    width: 200px;
    height: 200px;
}

body{ width: 100%; height: 100vh; }
header{display: none;}
main{
    background-color: var(--corback);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
main>.box_map{
    font-size: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.box_map>i{
    color: red;
    font-size: 3rem;
}
.box_map>input{
    background-color: var(--corback-card);
    width: 300px;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 2rem;
    margin: 5px;
}
main>.home_group{
    display: none;
}

main>.box_oferta{
    background: var(--gradiente);
    width: 100%;
    height: 200px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;

}

.box_oferta>.texto_oferta{
    margin-top: 25px;
    color: #ffffff;

}
.texto_oferta>p{
    font-family:'turnpike' ;
}
.texto_oferta>p>span{
    font-family:'turnpike' ;
    color: rgb(250, 3, 3);
}

.texto_oferta{
    width: 100px;
    font-size: 3rem;
    font-weight: bold;
}
main>.box_menu{
    width: 100%;
}
.box_img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.box_img>.card_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    gap: 2rem;
}
.box_img>.card_img>img{
    background-color: var(--corback-card);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    padding: 10px;
    
}

main>.box_prod{
    display: grid;
    grid-template-columns: 130px 130px;
    gap: 30px;
    position: relative;
}
.box_prod>.card_prod{
    background-color: var(--corback-card);
    height:20rem ;
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    
}
.card_prod>img{
    height: 10rem;
    width: 10rem;
}
.card_prod>.text_prod{
    width: 100%;
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.text_prod>p{
    font-size: 1.2rem;
    font-weight: bolder;
}
#icon_plus{
background-color: #ff8000;
height: 30px;
width: 30px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;

position: absolute;
transform: translate(45px,160px);
}

#icon_plus>i{
    color: white;
    font-size: 3rem;
}

#icon_plus:hover{
    cursor: pointer;
}

main>.nav_bar{
    background-color: #e4e4e4;
    height: 5rem;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border-radius: 5rem;
    position: relative;
}
.nav_bar>i{
font-size: 2rem;
}
#point{
    display: none;
    position: absolute;
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transform: translate(-22px,-6px);
}

 @media (min-width:1500px) {
    body{ width: 100%; height: 100vh; background: var(--gradiente);}
    header{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50rem;
    }

    i{
        font-size: 24px;
        margin: 1rem;
        color: white;
    }

   

    nav>ul{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    ul>li{
       list-style-type: none;
       font-size: 3rem;
    }
    li>a{
        text-decoration: none;
        color: white;
    }


    main{
        background-color: var(--gradiente);
        padding: 10rem;
        height: 65vh;
    }

    main>.box_map{
        display: none;
    }
    main>.box_oferta{
        display: none;
    }
    main>.box_menu{
        display: none;
    }
    main>.box_prod{
        display: none;
    }
    main>.nav_bar{
        display: none;
    }
    main>.home_group{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 400px;
        
    }
    .home_group>.home_text>p{
        color: white;
        width: 700px;
        font-family: var(--font-card-prod);
        font-size: 5rem;
        font-weight: bolder;
    }
    .home_text>p>span{
        font-family: var(--font-card-prod);
        font-weight: bolder;
        font-size:5rem ;
        color: red;
    }
    .home_group>img{
        width: 700px;
        height: 700px;
    }

    .home_text>#bt_compra{
        background-color: red;
        color: white;
        padding: 2rem;
        width: 160px;
        font-size: 2rem;
        margin-top: 2rem;
    }
} 
