@font-face {
    font-family:'Neue' ;
    src: url(assets/helvetica-neue-5/HelveticaNeueLight.otf) format('opentype');
}
:root{
    --corback:#ffffff;
    --cortexto:#000000;
    --coricons:#035add;
    --gradiente: linear-gradient(90deg, #fd5236,#ff8000);
                                                                                                                
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Neue', Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
img{
    width: 200px;
    height: 200px;
}

body{ width: 100%; height: 100vh; }
main{
    background-color: var(--corback);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
main>.box_map{
    font-size: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.box_map>img{
    height:5rem;
    width: 5rem;
}
.box_map>input{
    background-color: #e6e6e6;
    width: 300px;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 2rem;
    margin: 5px;
}

main>.box_oferta{
    background: var(--gradiente);
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 20px;

}
#card_oferta{
    background-color: red;
    color: white;
    font-size: 5rem;
    height: 5rem;
    width: 10rem;
    position: absolute;
    transform: translate(-20px,-95px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0px 4rem 0px;
}
.box_oferta>.texto_oferta{
    margin-top: 20px;
color: #ffffff;

}
.texto_oferta>p>span{
    color: rgb(255, 0, 0);
}

.texto_oferta{
    width: 100px;
    margin-right:100px ;
    font-size: 2rem;
    font-weight: bold;
}
main>.box_menu{
    width: 100%;
}
.card_img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.box_menu>.card_img>img{
    background-color: #e4e4e4;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    padding: 10px;
    
}

main>.box_prod{
    display: grid;
    grid-template-columns: 130px 130px;
    gap: 30px;
    position: relative;
}
.box_prod>.card_prod{
    background-color: #e4e4e4;
    height:20rem ;
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    
}
.card_prod>img{
    height: 10rem;
    width: 10rem;
}
.card_prod>.text_prod{
    width: 100%;
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.text_prod>p{
    font-size: 1.2rem;
}
#icon_plus{
background-color: #ff8000;
height: 30px;
width: 30px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;

position: absolute;
transform: translate(45px,160px);
}

#icon_plus>img{
    height: 15px;
    width: 15px;
}

#icon_plus:hover{
    cursor: pointer;
}

main>.nav_bar{
    background-color: #e4e4e4;
    height: 5rem;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border-radius: 5rem;
}
.nav_bar>img{
height: 3rem;
width:3rem ;
}

 @media (min-width:1500px) {
    body{
        background-color: red;
    }
} 
