@font-face {
    font-family:'Neue' ;
    src: url(assets/helvetica-neue-5/HelveticaNeueLight.otf) format('opentype');
}
:root{
    --corback:#ffffff;
    --cortexto:#000000;
    --coricons:#035add;
    --gradiente:linear-gradient(to right top, #bb17ff, #9325dc, #6e27b9, #4e2394, #331d70, #261a5c, #1a1548, #121034, #100e2a, #0e0b20, #080715, #030305);;
}
*{margin:0px; padding: 0px; box-sizing: border-box; font-size: 62.5%; font-family: 'Neue';}

body{
    background-color:var(--corback) ;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color:var(--corback);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header>nav{
    background-color: var(--corback);
    color:var(--cortexto) ;
    width: 500px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>ul{
    display: flex;
    gap: 8rem;
}
ul>li{
    list-style-type: none;
}

li>a{
    text-decoration: none;
    color: var(--cortexto);
    font-size: 2.5rem;
}

header>#bt-menu{
    background-color: var(--coricons);
    color: var(--corback);
    font-size: 2.5rem;
    text-align: center;
    width: 120px;
    position: absolute;
    right: 10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container>.icon{
    height: 800px;
    width: 800px;
    position: absolute;
    transform: translate(100%);
}
.container>.text-group{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--corback);
    font-size: 2rem;
}
.container>.text-group>h1{
    font-weight: bolder;
    font-size: 8rem;
    text-align: center;
    color: var(--cortexto);
}

.container>.text-group>p{
    text-align: center;
    font-size: 2.5rem;
    color: var(--cortexto);
    margin-top: 2rem;
}
.container>form{
    margin-top: 2rem;
}
.container>form>.email-group{
    display: flex;
}

.container>form>.email-group>input{
    height: 5rem;
    color: var(--cortexto);
    padding: 5px;
    font-size: 2.5rem;
    outline: none;
    border: none;
    
}
#iEmail{
    width: 400px;
    padding-left: 20px;
    border: 2px solid var(--cortexto);
}
#bt{
background-color: var(--coricons);
padding: 10px 30px;
color: var(--corback); cursor: pointer;
}


#out{
    font-size: 2.5rem;
    text-align: center;
    color: green;
}


.sumir{
    display: none;
}

.login{
    display: none;
}


@media (max-width:1024px){
    header>nav{
    margin-right: 100px; 
 }
 li>a{
    font-size: 2rem;
}
.container>.text-group>h1{
  
    font-size: 7rem;
}
.container>.text-group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.container>.text-group>p{
    font-size: 2rem;   
}

header>#bt-menu{
    
    font-size: 2rem;
    
}
}

@media (max-width:768px) {
    header{
        display: flex;
        flex-direction: column;
    }
    

header>nav{
    margin-right: 130px;  
}

nav>ul{
    display: flex;
    gap: 3.5rem;
}


li>a{
    font-size: 1.6rem;
}

header>#bt-menu{
    font-size: 1.6rem;
    
}

.container>.text-group{
        display: flex;
        flex-direction: column;
        align-items: center;
}

.container>.text-group>h1{
    font-size: 3rem;
   
    
}

.container>.text-group>p{
    width: 350px;
    font-size: 1.6rem;
}
.container>form>.email-group>input{
    height: 3.5rem;
    font-size: 1.6rem; 
}
#iEmail{
    width: 200px;
    
}

}
